{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VaraPranthan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300i,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

    <link rel="stylesheet" href="{% static 'css/lightgallery.min.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css'%}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css'%}">
    
    <link rel="stylesheet" href="{% static 'css/swiper.css'%}">

    <link rel="stylesheet" href="{% static 'css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3 border-bottom" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h1 class="mb-0"><a href="{% url 'main' %}" class="text-black h2 mb-0">VaraPranthan</a></h1>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block" data-aos="fade-down">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="{% url 'main' %}">HOME</a></li>
<!--                <li class="has-children active">-->
                  <a href="{% url 'works' %}">WORKS</a>
<!--                  <ul class="dropdown">-->
<!--                    <li><a href="#">Nature</a></li>-->
<!--                    <li><a href="#">Portrait</a></li>-->
<!--                    <li><a href="#">People</a></li>-->
<!--                    <li><a href="#">Architecture</a></li>-->
<!--                    <li><a href="#">Animals</a></li>-->
<!--                    <li><a href="#">Sports</a></li>-->
<!--                    <li><a href="#">Travel</a></li>-->
<!--                    <li class="has-children">-->
<!--                      <a href="#">Sub Menu</a>-->
<!--                      <ul class="dropdown">-->
<!--                        <li><a href="#">Menu One</a></li>-->
<!--                        <li><a href="#">Menu Two</a></li>-->
<!--                        <li><a href="#">Menu Three</a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                  </ul>-->
                </li>
<!--                <li><a href="services.html">Services</a></li>-->
                <li><a href="{% url 'about' %}">ABOUT</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right" data-aos="fade-down">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://twitter.com/" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/vara_pranthan/" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/" class="pl-3 pr-3"><span class="icon-youtube-play"></span></a>
                </li>
              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
      
    </header>



  <div class="site-section"  data-aos="fade">
    <div class="container-fluid">
      
      <div class="row justify-content-center">
        
        <div class="col-md-7">
          <div class="row mb-5">
            <div class="col-12 ">
              <h2 class="site-section-heading text-center">Mad Gallery</h2>
            </div>
          </div>
        </div>
    
      </div>
      <div class="row" id="lightgallery">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a7.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a7.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a1.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a1.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a2.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a2.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a3.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a3.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a4.jpeg'%}" data-sub-html="
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a5.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a5.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a6.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a6.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/b.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/b.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/c.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/c.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/d.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/d.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/e.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/e.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/f.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/f.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/g.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/g.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/h.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/h.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/i.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/i.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/j.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/j.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/k.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/k.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/l.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/l.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/m.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/m.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/n.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/n.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/o.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/o.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/p.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/p.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/q.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/q.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/r.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/r.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/s.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/s.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/t.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/t.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/u.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/u.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/v.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/v.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/w.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/w.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/x.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/x.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/big-images/y.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/y.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/z.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/z.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/i2.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/i2.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{% static 'images/a3.jpeg'%}" data-sub-html="
          <a href="#"><img src="{% static 'images/a3.jpeg'%}" alt="IMage" class="img-fluid"></a>
        </div>

      </div>
    </div>
  </div>

  <div class="footer py-4">
    <div class="container-fluid text-center">
      <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
    </div>
  </div>

    

    
    
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'js/swiper.min.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>

  <script src="{% static 'js/picturefill.min.js'%}"></script>
  <script src="{% static 'js/lightgallery-all.min.js'%}"></script>
  <script src="{% static 'js/jquery.mousewheel.min.js'%}"></script>

  <script src="{% static 'js/main.js'%}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>
    
  </body>
</html>